## FRONTEND
# Node.js dependencies
/frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/frontend/.pnp
/frontend/.pnp.*

# Next.js build artifacts
/frontend/.next/
/frontend/out/

# Production build
/frontend/build

# Misc
.DS_Store
*.pem

# Configuration files (optional)
.env*
/frontend/next-env.d.ts
/*.tsbuildinfo

# Vercel deployment
/frontend/.vercel

# IDE & editor settings
.vscode/
.idea/

# Logs
*.log
*storybook.log

# forcing
package.json

## BACKEND

